.shorten-url-view__container {
  background-color: white;
  width: 50em;
  border-radius: 1em;
}

.shorten-url-view__content {
  padding: 1em 2em 3em 2em;
  display: flex;
  flex-direction: column;
}

.error__text {
  color: red !important;
}